<com.meituan.data.rt.metrics.utils.extractor.storm.StormMapAvgMetricsUtil: void init(com.meituan.data.rt.metrics.config.JobConfig,java.lang.String)>
<com.meituan.data.rt.metrics.utils.extractor.storm.StormMapGcMetricsUtil: void init(com.meituan.data.rt.metrics.config.JobConfig,java.lang.String)>
<com.meituan.data.rt.metrics.utils.extractor.storm.StormMapKafkaOffsetMetricsUtil: void init(com.meituan.data.rt.metrics.config.JobConfig,java.lang.String)>
<com.meituan.data.rt.metrics.utils.extractor.storm.StormMapMemoryMetricsUtil: void init(com.meituan.data.rt.metrics.config.JobConfig,java.lang.String)>
<com.meituan.data.rt.metrics.utils.extractor.storm.StormMapSumMetricsUtil: void init(com.meituan.data.rt.metrics.config.JobConfig,java.lang.String)>
<com.meituan.data.rt.metrics.utils.extractor.storm.StormSingleValueMetricsUtil: void init(com.meituan.data.rt.metrics.config.JobConfig,java.lang.String)>
<com.meituan.data.rt.metrics.utils.extractor.storm.StormUserDefinedMetricsUtil: void init(com.meituan.data.rt.metrics.config.JobConfig,java.lang.String)>